services:
  db:
    container_name: potentiel_db
    image: postgres:16
    volumes:
      - .database/potentiel-dev.dump:/dump/potentiel-dev.dump
      - .database/metabase-dev.dump:/dump/metabase-dev.dump
      - .database/scripts/restore-dev-db.sh:/docker-entrypoint-initdb.d/restore-dev-db.sh
    environment:
      - POSTGRES_USER=postgres_admin
      - POSTGRES_PASSWORD=postgres_password
      - POSTGRES_MULTIPLE_DATABASES=potentiel,metabase
    restart: always
    ports:
      - 5432:5432
    profiles: ['app']
    command: postgres -c 'max_connections=50'
  eventBus:
    container_name: potentiel_eventBus
    image: redis:alpine
    command: redis-server --requirepass localpwd
    restart: always
    ports:
      - 6379:6379
    profiles: ['app']
  metabase:
    image: metabase/metabase:v0.53.3
    container_name: metabase
    ports:
      - '3615:3000'
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER: metabase
      MB_DB_PASS: password
      MB_DB_HOST: db
      MB_PASSWORD_COMPLEXITY: weak
      MB_PASSWORD_LENGTH: 4
    depends_on:
      - db
    profiles: ['app']
  s3:
    container_name: potentiel_s3
    image: quay.io/minio/minio
    command: server /data --console-address ":9090"
    restart: always
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    ports:
      - 9000:9000
      - 9090:9090
    profiles: ['app']
  create_bucket:
    image: minio/mc
    depends_on:
      - s3
    entrypoint: /bin/sh -c
    command:
      - |
        until mc alias set myminio http://s3:9000 minioadmin minioadmin; do
          echo "Waiting for MinIO to be ready..."
          sleep 2
        done
        mc ping myminio -c 1
        mc mb myminio/potentiel --ignore-existing
    profiles: ['app']
  auth:
    container_name: potentiel_auth
    image: quay.io/keycloak/keycloak
    restart: always
    ports:
      - 8080:8080
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - POTENTIEL_BASE_URL=http://localhost:3000
    command: start-dev --import-realm
    volumes:
      - ./keycloak/import:/opt/keycloak/data/import
      - ./keycloak/potentiel-keycloak/theme/potentiel:/opt/keycloak/themes/potentiel
    profiles: ['app']
  smtp:
    container_name: potentiel_smtp
    image: axllent/mailpit
    restart: always
    ports:
      - 1025:1025
      - 8025:8025
    profiles: ['app']
  db_test:
    container_name: potentiel_db_tests_integration
    image: postgres:16
    volumes:
      - .database/potentiel-dev.dump:/dump/potentiel-dev.dump
      - .database/scripts/restore-dev-db.sh:/docker-entrypoint-initdb.d/restore-dev-db.sh
    environment:
      - POSTGRES_USER=postgres_admin
      - POSTGRES_PASSWORD=postgres_password
      - POSTGRES_MULTIPLE_DATABASES=potentiel,metabase
      - POSTGRES_HOST_AUTH_METHOD=trust
    restart: always
    ports:
      - 5433:5432
    profiles: ['test']
    command: postgres -c 'max_connections=30'
  s3_test:
    container_name: potentiel_s3_tests_integration
    image: quay.io/minio/minio
    command: server /data --console-address ":9090"
    restart: always
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    ports:
      - 9001:9000
      - 9091:9090
    profiles: ['test']
  smtp_test:
    container_name: potentiel_smtp_tests_integration
    image: axllent/mailpit
    restart: always
    ports:
      - 1026:1025
      - 8026:8025
    profiles: ['test']
