.list--action-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid var(--theme-border);
  border-radius: var(--theme-border-radius);
  padding: 5px 10px;
  list-style: none;
  z-index: 10000;
  width: 250px;
  text-align: center;
  margin: 0;
}

.list--action-menu a {
  text-decoration: none;
}

.list--action-menu li {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}

.list--action-menu li:last-child {
  border-bottom: none;
}

.list--action-menu a:hover {
  background-color: inherit;
}

.list--action-menu a:hover > .list--action-menu {
  display: block;
}

.list--action-menu:hover {
  display: block;
}

.list--action-trigger:focus ~ .list--action-menu {
  display: block;
}

/* Project List */
.motif-popover {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: white;
  border: 1px solid var(--theme-border);
  border-radius: var(--theme-border-radius);
  padding: 5px 10px;
  list-style: none;
  z-index: 10;
  width: 400px;
}

/* Project Page  */

.section--content {
  display: none;
  padding-bottom: 20px;
}

.open ~ .section--content {
  display: block;
}

.section--title {
  cursor: pointer;
  border-bottom: 1px solid var(--grey);
  position: relative;
}

.section--expand {
  transform: rotate(-90deg);
  transition: transform 300ms;
  position: absolute;
  right: 0px;
  bottom: 8px;
}

.open > .section--expand {
  transform: rotate(0deg);
}

li.frise--item {
  z-index: 11;
  position: relative;
  line-height: 2em;
}

.frise circle {
  color: var(--grey);
}

ul.frise:before {
  content: '';
  z-index: 10;
  display: block;
  height: 100%;
  border-left: 2px solid var(--grey);
  position: absolute;
  left: 27px;
  bottom: 0px;
}
