name: Run tests on PR

on:
  pull_request:
    paths-ignore:
      - 'README.md'
      - '.github/**'
      - '.storybook/**'
      - '.vscode/**'
      - 'legacy-features/**'
      - 'scripts/**'
      - '.env.template'
      - '.eslint**'
      - '.prettier**'
      - 'LICENSE'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: npm ci --ignore-scripts
      - run: npm test
      - run: npm run test-int-init-db
      - run: npm run test-int
