name: 'Main workflow'

on:
  push:
    branches:
      - main

jobs:
  call-shared-workflow:
    uses: ./.github/workflows/shared-workflow.yml

  deploy-development:
    needs: call-shared-workflow
    runs-on: ubuntu-latest
    environment: development
    steps:
      - uses: scalingo-community/setup-scalingo@v0.1.1
        with:
          region: ${{ secrets.SCALINGO_REGION }}
          app_name: ${{ secrets.SCALINGO_APP }}
          api_token: ${{ secrets.SCALINGO_TOKEN }}
      - name: Deploy to Development
        run: scalingo integration-link-manual-deploy main
