name: 'Release workflow'

concurrency:
  group: release
  cancel-in-progress: true

on:
  push:
    branches:
      - release/*

jobs:
  call-shared-workflow:
    uses: ./.github/workflows/shared-workflow.yml

  deploy-staging:
    needs: call-shared-workflow
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Staging
        run: |
          curl -O https://cli-dl.scalingo.com/install && bash install
          scalingo login --api-token ${{ secrets.SCALINGO_TOKEN }}
          scalingo --app ${{ secrets.SCALINGO_APP }} --region ${{ secrets.SCALINGO_REGION }} integration-link-manual-deploy ${{ github.ref_name }}

  application-version:
    runs-on: ubuntu-latest
    needs: deploy-staging
    outputs:
      applicationVersion: ${{ steps.app_version.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
      - name: Set application version
        id: app_version
        run: |
          APPLICATION_VERSION=$(.github/getPatchVersion.ts)
          echo "version=${APPLICATION_VERSION}" >> $GITHUB_OUTPUT

  deploy-production:
    needs: application-version
    runs-on: ubuntu-latest
    environment: production
    env:
      APPLICATION_VERSION: ${{ needs.application-version.outputs.applicationVersion }}
    steps:
      - name: Push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: false
          default_prerelease_bump: false
          custom_tag: ${{ env.APPLICATION_VERSION }}
          tag_prefix: ''
      - uses: scalingo-community/setup-scalingo@v0.1.1
        with:
          region: ${{ secrets.SCALINGO_REGION }}
          app_name: ${{ secrets.SCALINGO_APP }}
          api_token: ${{ secrets.SCALINGO_TOKEN }}
      - name: Deploy to Production
        run: scalingo integration-link-manual-deploy ${{ github.ref_name }}

  deploy-demo:
    needs: deploy-production
    runs-on: ubuntu-latest
    environment: demo
    steps:
      - uses: scalingo-community/setup-scalingo@v0.1.1
        with:
          region: ${{ secrets.SCALINGO_REGION }}
          app_name: ${{ secrets.SCALINGO_APP }}
          api_token: ${{ secrets.SCALINGO_TOKEN }}
      - name: Deploy to Demo
        run: scalingo integration-link-manual-deploy ${{ github.ref_name }}
