name: Build, quality and security

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'
      - run: npm ci
      - run: npm run lint
        env:
          NODE_OPTIONS: '--max-old-space-size=10240'

  build:
    runs-on: ubuntu-latest
    env:
      APPLICATION_STAGE: production
      NODE_ENV: production

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'
      - run: npm ci --include=dev
      - run: npm run build

  test_specs:
    runs-on: ubuntu-latest
    env:
      APPLICATION_STAGE: test

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'
      - run: npm ci
      - run: npm run specs

  test_apps_libraries:
    runs-on: ubuntu-latest
    env:
      APPLICATION_STAGE: test

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'
      - run: npm ci
      - run: npm run test:apps
      - run: npm run test:libraries

  verify_statistics:
    runs-on: ubuntu-latest
    env:
      DATABASE_CONNECTION_STRING: postgres://postgres_admin:postgres_password@localhost:5432/potentiel
      APPLICATION_STAGE: production
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'
      - run: npm ci
      - run: npm run build:cli
      - run: npm run up
      - run: npm exec potentiel-cli stats extraire
