/*
A AJouter
*/

/*
* SURCHARGE DSFR
*/
.fr-enlarge-link:hover,
a[href]:hover {
  background: none;
}

[target='_blank']:after {
  mask-image: url('../icons/system/external-link-line.svg') !important;
  -webkit-mask-image: url('../icons/system/external-link-line.svg') !important;
}

.fr-alert--error:before,
.fr-error-text:before {
  -webkit-mask-image: url('../icons/system/fr--error-fill.svg');
  mask-image: url('../icons/system/fr--error-fill.svg');
}

.fr-alert--warning:before {
  -webkit-mask-image: url('../icons/system/fr--warning-fill.svg');
  mask-image: url('../icons/system/fr--warning-fill.svg');
}

.fr-alert--success:before {
  -webkit-mask-image: url('../icons/system/fr--success-fill.svg');
  mask-image: url('../icons/system/fr--success-fill.svg');
}

/*
* CUSTOM
*/

/* Text */
.text-black {
  color: black;
}

/* Sizing */
.max-w-xl {
  max-width: 36rem;
}

.min-h-screen {
  min-height: 100vh;
}

/* Position */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.gap-6 {
  gap: 1.5rem;
}

/* Spacing */
.mt-auto {
  margin-top: auto;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 1024px) {
  .lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:p-4 {
    padding: 1rem;
  }

  .lg\:mb-1 {
    margin-bottom: 0.25rem;
  }
}

@media (min-width: 1280px) {
  .xl\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .xl\:max-w-7xl {
    max-width: 80rem;
  }
}

/* Layout */
.section {
  padding: 5em 0;
  min-height: calc(100vh - 400px);
}
.section-grey {
  background-color: #ebeff3;
  background-color: var(--theme-background-grey);
}
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
