/*TAILWIND LIKE CLASSES

xl:mx-auto 
xl:max-w-7xl
flex-row 
px-2 
pb-1 
lg:p-4 
items-center
text-black
bg-none
lg:mb-1

*/

/*
* SURCHARGE DSFR
*/
.fr-enlarge-link:hover,
a[href]:hover {
  background: none;
}

[target='_blank']:after {
  mask-image: url('../icons/system/external-link-line.svg') !important;
  -webkit-mask-image: url('../icons/system/external-link-line.svg') !important;
}

/*
* CUSTOM
*/

/* Sizing */
.max-w-xl {
  max-width: 36rem;
}

.min-h-screen {
  min-height: 100vh;
}

/* Position */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.gap-6 {
  gap: 1.5rem;
}

/* Spacing */
.mt-auto {
  margin-top: auto;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 1024px) {
  .lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Layout */
.section {
  padding: 5em 0;
  min-height: calc(100vh - 400px);
}
.section-grey {
  background-color: #ebeff3;
  background-color: var(--theme-background-grey);
}
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
